.nx-count-contact-sec {
	z-index: 1;
	&:after {
		top: 0;
		left: 0;
		width: 100%;
		z-index: -2;
		content: '';
		height: 171px;
		position: absolute;
		background-color: #F9FAFA;
	}
	.nx-count-bg {
		top: 0;
		left: 0;
		z-index: -2;
		width: 100%;
		height: 100%;
		position: absolute;
		&:before {
			top: 0;
			left: 0;
			width: 100%;
			content: '';
			height: 100%;
			position: absolute;
			background-color: #000;
		}
		img {
			mix-blend-mode: luminosity;
		}
	}
	.nx-count-shape {
		left: -15%;
		z-index: -1;
		top: -105px;
	}
}
.nx-contact-wrap {
	&:before {
		right: 0;
		bottom: 0;
		content: '';
		width: 728px;
		height: 545px;
		position: absolute;
		background-color: var(--nx-base1);
		clip-path: polygon( 79.121% 0%,100% 0%,100% 100%,0% 100%,79.121% 0% );
		@media #{$md,$sm,$xs,$xxs} {
			display: none;
		}
	}
	.nx-con-shape1 {
		right: 0;
		z-index: -1;
		opacity: .05;
		bottom: -40px;
		position: absolute;
	}
	.nx-con-img1 {
		bottom: 0;
		right: 16%;
		@media #{$md,$sm,$xs,$xxs} {
			display: none;
		}
	}
	.nx-sec-title1 .sec_title {
		color: #fff;
	}
	.nx-contact-form {
		border-radius: 20px;
		background: linear-gradient(116.28deg, #2E2E3D 0.81%, #16191C 48.12%, #21252A 100%);
	}
	.nx-contact-form {
		label {
			color: #fff;
		}
		input,textarea {
			color: #EBEBEB;
			border-bottom: 1px solid #F2F3F526;
			&::placeholder {
				color: #EBEBEB;
			}
		}
	}
}
.nx-count-content {
	padding: 75px 80px 40px;
	background-color: var(--nx-base1);
	@media #{$lg} {
		padding: 75px 30px 40px;
	}
	@media #{$xxs} {
		padding: 40px 30px 10px;
	}
}
.nx-count-item {
	overflow: hidden;
	max-width: 255px;
	margin-bottom: 30px;
	h3 {
		color: #fff;
		line-height: .8;
		font-size: 80px;
		font-weight: 800;
		padding-left: 24px;
		position: relative;
		padding-bottom: 20px;
		margin-bottom: 22px;
		border-bottom: 1px solid #fff;
		@media #{$lg} {
			font-size: 60px;
		}
		@media #{$xxs} {
			font-size:50px;
		}
		&:before {
			left: 0;
			top: 3px;
			width: 3px;
			content: '';
			height: 30px;
			position: absolute;
			background-color: #fff;
			@media #{$xxs} {
				height: 20px;
			}
		}
	}
	h4 {
		color: #fff;
		font-size: 20px;
		font-weight: 700;
		padding-bottom: 8px;
		@media #{$lg} {
			font-size: 18px;
		}
	}
	p {
		color: #fff;
	}
}