.nx-wc3-sec {
	background-color: #F9FAFA;
	.nx-sec-title1 {
		margin: 0 auto;
		max-width: 856px;
		p {
			margin: 0 auto;
			max-width: 600px;
		}
	}
}
.nx-wc3-content {
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
}
.nx-wc3-tab-btn {
	@media #{$lg,$md,$sm,$xs,$xxs} {
		margin-top: 0;
	}
	.nav {
		justify-content: space-between;
		@media #{$sm,$xs,$xxs} {
			justify-content: center;
		}
	}
	.nav-item {
		width: 50%;
		height: 68px;
		cursor: pointer;
		margin-bottom: 35px;
		@media #{$sm,$xs,$xxs} {
			width: 100%;
			display: flex;
			transform: rotate(0deg) !important;
			justify-content: center !important;
		}
		&:nth-child(even) {
			display: flex;
			justify-content: end;
		}
		&:nth-child(1) {
			transform: rotate(2.8deg);
		}
		&:nth-child(2) {
			transform: rotate(-2.5deg);
		}

		&:nth-child(3) {
			transform: rotate(-2.5deg);
		}
		&:nth-child(4) {
			transform: rotate(2.5deg);
		}
		&:nth-child(5) {
			transform: rotate(2.5deg);
		}
		&:nth-child(6) {
			transform: rotate(-2.5deg);
		}
		&:nth-child(7) {
			transform: rotate(-2.5deg);
		}
		&:nth-child(8) {
			transform: rotate(2.5deg);
		}
		.nav-link {
			width: 100%;
			border: none;
			height: 68px;
			display: flex;
			font-size: 20px;
			max-width: 365px;
			font-weight: 600;
			border-radius: 0;
			align-items: center;
			text-align: center;
			background-color: #fff;
			justify-content: center;
			text-transform: uppercase;
			color: var(--nx-title-color);
			transition: all 300ms ease-in-out;
			@media #{$lg} {
				height: 50px;
				max-width: 300px;
			}
			&:is(.active) {
				color: #fff;
				background-color: var(--nx-base1);
			}
		}
	}
	.nav-tabs {
		border: none;
	}
}
.nx-whc-tab {
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	margin: 0 auto;
	max-width: 450px;
	position: absolute;
	@media #{$xl} {
		max-width: 400px;
	}
	@media #{$lg} {
		max-width: 300px;
	}
	@media #{$md,$sm,$xs,$xxs} {
		position: static;
	}
}

.nx-wc3-item {
	overflow: hidden;
	.item-img {
		opacity: 0;
		transition: all 500ms ease-in-out;
		transform: translateY(95%) scale(.8);
	}
}
.nx-whc-tab .tab-pane:is(.show) .nx-wc3-item .item-img {
	opacity: 1;
	transform: translateY(0%) scale(1.0);
}